<div class="row">
    <div class="col-sm-3">
        <table class="table">
            <tbody>
                <th>
                    <tr>Pobjede</tr>
                    <tr>Porazi</tr>
                    <tr>Odigrano</tr>
                    <tr>Postotak</tr>
                </th>
                <th>
                    <tr>{{player.wins}} </tr>
                    <tr>{{player.loses}}</tr>
                    <tr>{{player.wins+player.loses}}</tr>
                    <tr>{{(player.wins/(player.loses+player.wins))*100}} %</tr>
                </th>
            </tbody>
        </table>
    </div>
    <div class="col-sm-9">
        <div class="well blue">
            <chart [options]="resultsPie"> </chart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <div style="display: block">
                <chart [options]="position"> </chart>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well">
            <chart [options]="winPercentage"> </chart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="well">
            <chart [options]="eloRating"> </chart>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <p>Text</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <p>Text</p>
        </div>
    </div>
</div>