.well {
    background-color: #fff
}

.red {
    border-left: 10px solid orangered
}

.green {
    border-left: 10px solid limegreen
}

.blue {
    border-left: 10px solid #4e73df
}

.card {
    padding: 8px;
}

chart {
    width: 100% !important;
    margin: 0 auto;
    display: block;
}

a {
    color: black;
}

.tab-row {
    margin-right: 7px;
    margin-left: 7px;
}