.content {
    padding-left: 22px;
    padding-right: 22px;
}

::ng-deep .mat-tab-header {
    margin-left: 16px !important;
    margin-right: 16px !important;
    background-color: #fff;
    opacity: 0.9;
}

.tab-row {
    margin-right: 7px;
    margin-left: 7px;
}

.header-name {
    background: black;
    color: white;
    opacity: 0.8;
    margin-left: 16px;
    padding-right: 12px;
    padding-left: 6px;
    border-radius: 5px;
    padding-top: 16px;
    padding-bottom: 16px
}