<div style="padding-left: 18px; padding-right: 18px">
  <div class="player-header">
    <h2>
      <img [src]="profilePic" style="width: 100px; height: 100px" /> {{player.firstName}} {{player.lastName}}</h2>
  </div>
  <br>
  <mat-tab-group>
    <mat-tab label="Trenutna sezona">
      <app-details [player]="player" [matches]="matches" [allPlayers]="allPlayers"></app-details>
    </mat-tab>
    <mat-tab label="Odigrani mečevi">
      <app-matches [player]="player" [matches]="matches"></app-matches>
    </mat-tab>
    <mat-tab label="Trofeji">
      <app-trophies></app-trophies>
    </mat-tab>
    <mat-tab label="Prethodne sezone"> Content 3 </mat-tab>
  </mat-tab-group>
</div>