.well {
    background-color: #fff
}

.red {
    border-left: 10px solid orangered
}

.green {
    border-left: 10px solid limegreen
}

.blue {
    border-left: 10px solid #4e73df
}

.content {
    padding-left: 22px;
    padding-right: 22px;
}
