a {
    color: black;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

td.mat-cell {
    padding-left: 24px;
}

th.mat-header-cell {
    padding-left: 24px;
}

.tab-table {
    margin: 16px;
    opacity: 0.9;
}

.table-horizontal {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}