<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Set black background color, white text and some padding */

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-4 sidebar1">
        <h3>Tennis scores
          <br />
          <small style="color: black">A simple, tennis league statistics!</small>
        </h3>
        <br>
        <div class="left-navigation">
          <ul class="list">
            <h5>
              <strong style="color: black">WHEREABOUTS</strong>
            </h5>
            <li>
              <a routerLink="">Home</a>
            </li>
            <li>
              <a routerLink="/table">Table</a>
            </li>
            <li>
              <a href="#section3">Season</a>
            </li>
            <li>
              <a href="#section3">LiveChat</a>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-md-10 col-sm-8 main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>



</html>