<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar" style="background-color: black">

        <mat-toolbar-row>
            <span>
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </span>
            <span class="example-spacer"></span>
            <form>
                <mat-form-field class="input-headline">
                    <input type="text" placeholder="Traži igrača" aria-label="Number" matInput [formControl]="playerFormControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let player of filteredOptions | async" [value]="player">
                            {{player.firstName}} {{ player.lastName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <button mat-icon-button (click)="toPlayer()">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" style="margin-right: 16px">search</mat-icon>
            </button>

            <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon" style="margin-right: 16px">account_circle</mat-icon>-->
        </mat-toolbar-row>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <mat-list-item>
                    <button mat-icon-button routerLink="">
                        <mat-icon>home</mat-icon>
                        <span class="list-text">Početna</span>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-icon-button routerLink="/table">
                        <mat-icon>view_list</mat-icon>
                        <span class="list-text">Tablica</span>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-icon-button routerLink="/elo-stats">
                        <mat-icon>bar_chart</mat-icon>
                        <span class="list-text">H2H</span>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-icon-button routerLink="">
                        <mat-icon>bubble_chart</mat-icon>
                        <span class="list-text">Povijest</span>
                    </button>
                </mat-list-item>
            </mat-nav-list>
            <div>
                <img style="opacity: 0.5;" [src]="profilePic" />
            </div>
        </mat-sidenav>

        <mat-sidenav-content style="margin-left: 130px">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>