<!-- Side navigation -->
<div class="sidenav">
  <div class="row" style="text-align: center">
    <span><img [src]="logoi" style="width: 100px; height: 100px" /></span>
  </div>
    <a routerLink=""><i class="fa fa-home" style="font-size: 18px; padding-right: 8px"></i>Home</a>
    <a routerLink="/table"><i class="fa fa-table" style="font-size: 18px; padding-right: 8px"></i>Table</a>
    <a routerLink=""><i class="fa fa-area-chart" style="font-size: 18px; padding-right: 8px"></i>Season</a>
</div>

<!-- Page content -->
<div class="main">
  <router-outlet></router-outlet>
</div>

