<div style="padding-left: 18px; padding-right: 18px">
  <div class="player-header" style="padding-left: 18px; padding-right: 18px">
    <h2> Usporedba igrača </h2>
  </div>
  <br>
  <div>
    <div class="row tab-row">

      <div class="col-sm-4 card" style="text-align: center;">
        <form [formGroup]="playerSelectFormGroup">
          <mat-card>
            <mat-form-field style="padding-right: 16px">
              <mat-select placeholder="Odaberi igrača" formControlName="playerAFormControl">
                <mat-option *ngFor="let player of allPlayers" [value]="player">
                  {{player.firstName}} {{player.lastName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            :
            <mat-form-field style="padding-left: 16px">
              <mat-select placeholder="Odaberi igrača" formControlName="playerBFormControl">
                <mat-option *ngFor="let player of allPlayers" [value]="player">
                  {{player.firstName}} {{player.lastName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" aria-label="Calculate" (click)="getEloStats()">
              <!--<mat-icon>blur_on</mat-icon>-->
              Izračunaj
            </button>
          </mat-card>
        </form>
      </div>
    </div>

    <div class="row tab-row">
      <div class="col-sm-4 card">
        <mat-card>
          <chart [options]="probabilites"> </chart>
        </mat-card>
      </div>

      <div class="col-sm-4 card">
        <mat-card>
          <chart [options]="positions"> </chart>
        </mat-card>
      </div>
    </div>

    <div class="row tab-row">
      <div class="col-sm-4 card">
        <mat-card>
          <chart [options]="eloRatings"> </chart>
        </mat-card>
      </div>


      <div class="col-sm-4 card">
        <mat-card>
          <chart [options]="winPercentages"> </chart>
        </mat-card>
      </div>
    </div>

    <div class="row tab-row">
      <div class="col-sm-4 card">
        <mat-card>
          <!--<chart [options]="winPercentage"> </chart>-->
        </mat-card>
      </div>


      <div class="col-sm-4 card">
        <mat-card>
          <!--<chart [options]="matchesPerDay"> </chart>-->
        </mat-card>
      </div>
    </div>
    <!--
      <div class="col-sm-4 card">
        <mat-card>
          <chart [options]="winPercentage"> </chart>
        </mat-card>
      </div>
      -->
    <div class="row tab-row">
      <div class="col-sm-2" style="padding: 8px">
        <mat-card class="info-card">
        </mat-card>
      </div>
      <div class="col-sm-2" style="padding: 8px">
        <mat-card class="info-card">
        </mat-card>
      </div>
      <!--
      <div class="col-sm-2" style="padding: 8px">
        <mat-card class="info-card">
          <h5>Neki podatak</h5>
          <h5>15</h5>
        </mat-card>
      </div>
      <div class="col-sm-2" style="padding: 8px">
        <mat-card class="info-card">
          <h5>Neki podatak</h5>
          <h5>15</h5>
        </mat-card>
      </div>
      -->
    </div>
  </div>