@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.snackbar-background-red{
    background-color: #FF3D00;
    color: white;
 }

.snackbar-background-green {
    background-color: #CCFF90;
    color: black
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 10px 20px;
    color: white;
    border-radius: 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}