<div>
  <div class="row tab-row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="grandTrophy3" class="grandTrophyImg" />
        <mat-divider></mat-divider>
        <h4>Osvajač ljetne lige 2019.</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="grandTrophy4" class="grandTrophyImg" />
        <mat-divider></mat-divider>
        <h4>Osvajač zimske lige 2019.</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="grandTrophy5" class="grandTrophyImg" />
        <mat-divider></mat-divider>
        <h4>Pobjednik ljetne sezone 2019.</h4>
      </mat-card>
    </div>
  </div>
  <div class="row tab-row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="medal1" class="medalImg" />
        <mat-divider></mat-divider>
        <h4>20 pobjeda</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="medal2" class="medalImg" />
        <mat-divider></mat-divider>
        <h4>50 pobjeda</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="medal3" class="medalImg" />
        <mat-divider></mat-divider>
        <h4>100 pobjeda</h4>
      </mat-card>
    </div>
  </div>
  <div class="row tab-row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="medal4" class="medalImg" />
        <mat-divider></mat-divider>
        <h4>150 pobjeda</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="medal5" class="medalImg" />
        <mat-divider></mat-divider>
        <h4>200 pobjeda</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="medal6" class="medalImg" />
        <mat-divider></mat-divider>
        <h4>10 pobjeda u nizu</h4>
      </mat-card>
    </div>
  </div>
  <div class="row tab-row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="medal7" class="medalImg" />
        <mat-divider></mat-divider>
        <h4>15 pobjeda u nizu</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="medal8" class="medalImg" />
        <mat-divider></mat-divider>
        <h4>30 pobjeda u nizu</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="playerTrophy1" class="playerImg" />
        <mat-divider></mat-divider>
        <h4>Igrač mjeseca</h4>
      </mat-card>
    </div>
  </div>
  <div class="row tab-row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="playerTrophy2" class="playerImg" />
        <mat-divider></mat-divider>
        <h4>Najveći napredak u sezoni</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="playerTrophy3" class="playerImg" />
        <mat-divider></mat-divider>
        <h4>Nešto</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="playerTrophy4" class="playerImg" />
        <mat-divider></mat-divider>
        <h4>Nešto</h4>
      </mat-card>
    </div>
  </div>
  <div class="row tab-row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="playerTrophy5" class="playerImg" />
        <mat-divider></mat-divider>
        <h4>Nešto</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="honor1" class="honorImg" />
        <mat-divider></mat-divider>
        <h4>250 odigranih mečeva</h4>
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <img [src]="honor2" class="honorImg" />
        <mat-divider></mat-divider>
        <h4>500 odigranih mečeva</h4>
      </mat-card>
    </div>
  </div>
</div>