<body>

  <div class="container-fluid">
    <div class="row content">
      <h2>Detalji o igraču</h2>
      <br>
      <ul class="nav nav-tabs">
        <li><a routerLink="/player">Trenutna sezona</a></li>
        <li><a href="#section2">Odigrani mečevi</a></li>
        <li class="active"><a href="#section3">Trofeji</a></li>
        <li><a href="#section3">Prethodne sezone</a></li>
      </ul><br>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <div class="well green">
              <h4>10 ovoga</h4>
              <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well red">
              <h4>10 onoga</h4>
              <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well blue">
              <h4>10 odigranih</h4>
              <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>10 pobjeda</h4>
            <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>