<div style="width: 98%">
  <div class="row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 ovoga</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 onoga</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 odigranih</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 ovoga</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 onoga</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 odigranih</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 ovoga</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 onoga</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 odigranih</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
    <div class="col-sm-2" style="padding: 8px">
      <mat-card class="trophy-card">
        <h4>10 pobjeda</h4>
        <img [src]="tenWinsBadge" style="width: 100px; height: 100px" />
      </mat-card>
    </div>
  </div>
</div>