.trophy-card {
    text-align: center;
    opacity: 0.9;
}

.tab-row {
    margin-right: 7px;
    margin-left: 7px;
}

.grandTrophyImg {
    padding-bottom: 15px;
    height: 220px;
}

.medalImg {
    padding-bottom: 15px;
    height: 190px;
}

.playerImg {
    padding-bottom: 15px;
    height: 190px;
}

.honorImg {
    padding-bottom: 15px;
    height: 190px;
}