.card {
    padding: 8px;
    opacity: 0.9;
}

chart {
    width: 100% !important;
    margin: 0 auto;
    display: block;
}

a {
    color: black;
    cursor: pointer;
}

.tab-row {
    margin-right: 7px;
    margin-left: 7px;
}

.info-card {
    text-align: center;
}

.table-horizontal {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}