.card {
    padding: 8px;
}

chart {
    width: 100% !important;
    margin: 0 auto;
    display: block;
}

a {
    color: black;
    cursor: pointer;
}

.tab-row {
    margin-right: 7px;
    margin-left: 7px;
}

.info-card {
    text-align: center;
}
